'.source.bpml':
  'New Process':
    'prefix': 'new'
    'body':"""
    <!--
      Business Process: $1
      Created For:
      Created By:
      Description:
      Precondition:
      Postcondition:
      Runtime:
      Process Data:
    -->

    <process name="$1">
      <sequence name="$2">
        <assign to="BPLOCAL/BP_NAME">$1</assign>
      </sequence> <!-- End $2 -->
    </process>
    """

  'Sequence':
    'prefix': 'sequence'
    'body': """
    <sequence name="$1">
      $2
    </sequence> <!-- End $1 -->
    """

  'Operation':
    'prefix': 'operation'
    'body':"""
    <operation name="$1">
      <participant name="$2" />
      <output message="${3:outmsg}">
        <assign to="." from="*" />
      </output>
      <input message="${4:inmsg}">
        <assign to="." from="*" />
      </input>
    </operation>
    """

  'Comment':
    'prefix': 'comment'
    'body': '<!-- $1 -->'

  'Process':
    'prefix': 'process'
    'body':"""
    <process name="$1">
      $2
    </process>
    """

  'Rule':
    'prefix': 'rule'
    'body': """
    <rule name="$1">
      <condition>$2</condition>
    </rule>
    """

  'Assign':
    'prefix': 'assign'
    'body': '<assign to="$1"${2: from=""}>$3</assign>'

  'Assign All':
    'prefix': 'assign all'
    'body': '<assign to="." from="*" />'

  'Assign Service':
    'prefix': 'assign service'
    'body':"""
    <operation name="AssignService">
      <participant name="AssignService" />
      <output message="AssignOutputMessage">
        <assign to="." from="*" />
        ${1:<!-- add assign's here -->}
      </output>
      <input message="AssignInputMessage">
        <assign to="." from="*" />
      </input>
    </operation>
    """
